.body {
    width: 100%;
    background-color: pink;
    font-size: 16px;
}

/* Style the navigation menu */
.menu-list {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
.menu-list #myLinks {
    display: none;
}

  /* Style navigation menu links */
.menu-list a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

  /* Style the hamburger menu */
.menu-list a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

  /* Add a grey background color on mouse-over */
.menu-list a:hover {
    background-color: #ddd;
    color: black;
}

  /* Style the active link (or home/logo) */
.active {
    background-color: #4CAF50;
    color: white;
}


/*seccion prodcuto*/


.container-padre-section {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.container-hijo-Padre-section-product {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
}
.container-hijo-Padre-hijo-Padre-section-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.hijoArriba {
    display: flex;
    width: 100%;
}
.hijoAbajo {
    display: flex;
    
    width: 100%;
}