body {
    background-color: rgb(230, 230, 230);
    font-size: 16px;
}


.b, .c, .d, .f, .g, .h { /* Esto me va a servir para volverlos a aparecer en Desktop */
    display: none;
}

/*seccion producto*/


.container-padre-section { /* se ejecuta en columna en relacion al titulo y a los productos */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 3%;
}
.imagenProductos {
    width: 90%;
    height: auto;
}
    .container-hijo-section-title {
        align-self: flex-start;
        margin-left: 5%;
    }
    .container-hijo-Padre-section-product { /* Este me ordena las dos secciones de productos que tengo */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
        .container-hijo-padre-hijo-padre-section-product {
            background-color: lightgrey;
        }
        .hijoAbajo {
            display: flex;
            height: auto;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        .hijoArriba {
            display: flex;
            height: auto;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
            .imgDetail {
                border-top: 2px solid lightgrey;
                height: 3.5em;
            }
            .imgDetail {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                .imgPosition {
                    display: flex;
                    justify-content: center;
                }
                .detailPrecio {
                    margin-left: 5%;
                    font-size: 1.2em;
                }
                .detailDescuento {
                    margin-left: 10%;
                }
                    .green {
                        color: rgb(0, 255, 0);
                        border-color: rgb(0, 255, 0);
                    }
                
