<!DOCTYPE html>
<html lang="en">

<%- include( "./partials/head.ejs") %>

<body class="body">
    
    <%- include("./partials/header.ejs") %>
    
    <main>

        <section class="container-padre-section">

            <div class="container-hijo-section-title">
                <h3>
                        Basado en tu última visita
                </h3>
            </div>

            <div class="container-hijo-Padre-section-product">
                
                <div class="hijoArriba">

                    <div class="container-hijo-Padre-hijo-Padre-section-product a">

                        <div class="imgPosition">
                            <img class="imagenProductos" height = "" src="/images/img-cafetera-moulinex.jpg">
                        </div>

                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product b">
                        <img class="imagenProductos" height = "" src="/images/img-macbook-pro-2019.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product c">
                        <img class="imagenProductos" height = "" src="/images/img-samsung-galaxy-s10.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product d">
                        <img class="imagenProductos" height = "" src="/images/img-tv-samsung-smart.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                        
                    </div>

                </div><br>

                <div class="hijoAbajo">

                    <div class="container-hijo-Padre-hijo-Padre-section-product e">
                        <div class="imgPosition">
                            <img class="imagenProductos" height = "" src="/images/img-macbook-pro-2019.jpg">
                        </div>
                        
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$9.996</h3></div>
                            <div class="detailDescuento"><h4 class="green">20% OFF</h4></div>
                        </div>
                        </div>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product f">
                        <img class="imagenProductos" height = "" src="/images/img-macbook-pro-2019.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                        
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product g">
                        <img class="imagenProductos" height = "" src="/images/img-samsung-galaxy-s10.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product h">
                        <img class="imagenProductos" height = "" src="/images/img-tv-samsung-smart.jpg">
                        <div class="imgDetail">
                            
                            <div class="detailPrecio"><h3 class="">$6.770</h3></div>
                            <div class="detailDescuento"><h4 class="green">40% OFF</h4></div>
                        </div>

                </div>
                
            </div>
        </section>
        
    </main>
    
    
</body>

<%- include("./partials/footer.ejs") %>

</html>