<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultados de Busqueda</h1>

    <ul>
        <!-- <% for(let i = 0; i < homeBuscarResultado.lenght; i++) { %><%= homeBuscarResultado[i].id %>*/ -->
        <li>
            <a href="/buscar" class="resultados"></a> <!-- <%= homeBuscarResultado[i].id %> -->
        </li>
        <!-- <% } %>
    </ul>
    
    
</body>
</html>