<header>
    <nav class="nav">

        <div class = "imagen-logo">

            <img src="/images/logo-mercado-liebre.svg"></img>

        </div>
            <!-- Top Navigation Menu -->
        <div class="menu-list">
            <a href="#home" class="active"><p><a href="#"><i class="fas fa-bars"></i></a></p></a>
                <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="#CreaTuCuenta">Cuenta</a>
                <a href="#Ofertas">Ofertas</a>
                <a href="#TiendasOficiales">Tiendas</a>
                <a href="#Vender">Publicar</a>
                <a href="#Ayuda">Ayuda/a>
            </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fas fa-bars"></i>
                </a>
            </div>
            
        <div class="login">

            <a href="/Ingresa">Ingresá</a>

        </div>
            
    </nav>
</header>