<footer>
    <div>
        <h5>
            Pagá con tarjeta o en efectivo
        </h5>
        <h6>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
pago. ¡Y siempre es seguro!
        </h6>
    </div>
    <div>
        <h5>
            Envío gratis desde los $ 2.500
        </h5>
        <h6>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
productos. Es un beneficio de MercadoPuntos.
        </h6>
    </div>
    <div>
        <h5>
            Seguridad, de principio a fin
        </h5>
        <h6>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
porque estás siempre prtegid@.
        </h6>
    </div>
    <div>
        <h6>
            Copyright © 1999-2019 MercadoLiebre S.R.L.
        </h6>
    </div>
</footer>