<header>

    <nav class="nav">

        <div class = "imagenLogo">

            <a href="/">
                <img src="/images/logo-mercado-liebre.svg"></img>
            </a>

        </div>

        <div class="buscar">                
            
            <form action="/buscar" method="GET">
                
                <input type="text" size = "15" maxlength="30" name="homeBuscar" value="">

                <input type="submit" value="Buscar">

            </form>

        </div>

        <div class="menuList">

            <ul>

                <li>                
                    <a href="/products">Ofertas</a>                
                </li>
                    
                    
                <li>
                    <a href="/products">Tiendas oficiales</a>
                </li>
                
                
                <li>
                    <a href="/cart">Vender</a>
                </li>
                
                
                <li>
                    <a href="/help">Ayuda</a>
                </li>

            </ul>
            
        

        </div>

        <div class="menuList">

            <ul>                
            
                <li>
                    <a href="/users/register">Crea Tu Cuenta</a>
                </li>

                <li>
                    <a href="/users/login">Ingresá</a>
                </li>

                <li>
                    <a href="/cart">Mis compras</a>
                </li>

            </ul>
            
        </div>    
            
    </nav>

    <div class="banner">

        <img class="imgBanner" src="/images/img-home-banner.jpg" >

    </div>
    
</header>