<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<header>

    <nav class="nav">

        <div class="logoBuscador">
            <div class = "imagenLogo">

                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg"></img>
                </a>
    
            </div>
    
            <div class="buscar">        
                   
                <form action="/search" method="GET" class="form-search"> 

                    <input type="text" class="search" name="homeSearch" placeholder=" Buscar">
                    <button class="buttonBuscar"><i class="fas fa-search"></i></button>
                
                </form> 
                    
                  
            </div>
        </div>
        

        

        <div class="menuList">

            <ul>

                <li>                
                    <a href="/products">Ofertas</a>                
                </li>
                    
                    
                <li>
                    <a href="/products">Tiendas oficiales</a>
                </li>
                
                
                <li>
                    <a href="/cart">Vender</a>
                </li>
                
                
                <li>
                    <a href="/help">Ayuda</a>
                </li>

            </ul>
            
        

        </div>

        <div class="menuList">

            <ul>                
            
                <li>
                    <a href="/users/register">Crea Tu Cuenta</a>
                </li>

                <li>
                    <a href="/users/login">Ingresá</a>
                </li>

                <li>
                    <a href="/cart">Mis compras</a>
                </li>

            </ul>
            
        </div>    
            
    </nav>

    <div class="banner">

        <img class="imgBanner" src="/images/img-home-banner.jpg" >

    </div>
    
</header>