<!DOCTYPE html>
<html lang="en">

<%- include( "./partials/head.ejs") %>

<body class="body">
    
    <% - include ("./partials/header.ejs") %>
    
    <main>

        <section class="container-padre-section">

            <div class="container-hijo-section-title">
                <h3>
                        Basado en tu última visita
                </h3>
            </div>

            <div class="container-hijo-Padre-section-product">
                
                <div class="hijoArriba">

                    <div class="container-hijo-Padre-hijo-Padre-section-product a">
                        <img height = "100px" src="/images/img-cafetera-moulinex.jpg">
                        <ol>
                            <li>
                                $6.770
                            </li>
                            <li>
                                40% OFF
                            </li>
                            <li>
                                Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.
                            </li>
                                
                        </ol>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product b">
                        <img height = "100px" src="/images/img-macbook-pro-2019.jpg">
                        <ol>
                            <li>
                                $230.000
                            </li>
                            <li>
                                20% OFF
                            </li>
                            <li>
                                Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product c">
                        <img height = "100px" src="/images/img-samsung-galaxy-s10.jpg">
                        <ol>
                            <li>
                                $70.500
                            </li>
                            <li>
                                15% OFF
                            </li>
                            <li>
                                Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product d">
                        <img height = "100px" src="/images/img-tv-samsung-smart.jpg">
                        <ol>
                            <li>
                                $34.000
                            </li>
                            <li>
                                5% OFF
                            </li>
                            <li>
                                SmartTv Samsung 43" Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                        
                    </div>

                </div>

                <div class="hijoAbajo">

                    <div class="container-hijo-Padre-hijo-Padre-section-product e">
                        <img height = "100px" src="/images/img-cafetera-moulinex.jpg">
                        <ol>
                            <li>
                                $6.770
                            </li>
                            <li>
                                40% OFF
                            </li>
                            <li>
                                Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.
                            </li>
                                
                        </ol>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product f">
                        <img height = "100px" src="/images/img-macbook-pro-2019.jpg">
                        <ol>
                            <li>
                                $230.000
                            </li>
                            <li>
                                20% OFF
                            </li>
                            <li>
                                Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                        
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product g">
                        <img height = "100px" src="/images/img-samsung-galaxy-s10.jpg">
                        <ol>
                            <li>
                                $70.500
                            </li>
                            <li>
                                15% OFF
                            </li>
                            <li>
                                Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                    </div>
                    <div class="container-hijo-Padre-hijo-Padre-section-product h">
                        <img height = "100px" src="/images/img-tv-samsung-smart.jpg">
                        <ol>
                            <li>
                                $34.000
                            </li>
                            <li>
                                5% OFF
                            </li>
                            <li>
                                SmartTv Samsung 43" Lorem ipsum, dolor sit amet.
                            </li>
                        </ol>
                        
                    </div>

                </div>
                
            </div>
        </section>
        
    </main>
    
    
</body>

<% - include ("./partials/footer.ejs") %>

</html>