<%- include( "../partials/head.ejs") %>

<%- include( "../partials/header.ejs") %>
<body>
    <h1>Editar </h1>
    <form action= "/editar?_method=PUT" method="POST">

        <label for = "nombre">Nombre</label>
        <input type="text" size = "15" maxlength="30" name="nombre" value="">
    
        <label for = "nombreDeUsuario">Usuario</label>
        <input type="text" size = "15" maxlength="30" name="usuario" value="" >
    
        <label for = "email">E-mail</label>
        <input type="email" size = "15" maxlength="30" name="email" value="">

        <label for = "fechaDeNacimiento">Fecha de nacimiento</label>
        <input type="date" size = "15" maxlength="30" name="fechaDeNacimiento" value="">

        <label for = "domicilio">Domicilio</label>
        <input type="text" size = "15" maxlength="30" name="domicilio" value="">

        <input type="submit" value="Editar">

    </form>
</body>


<%- include( "../partials/footer.ejs") %>