<%- include( "../partials/head.ejs") %>

<%- include( "../partials/header.ejs") %>

<body>
    
    <form action="" method="GET">
        <input type="text" name="usuario" id="">
        <input type="password" name="contraseña" id="">
        <input type="submit" value="Ingresar">
    </form>

    <form action="/users/register" method="GET">
        <input type="submit" value="Crear cuenta">
    </form>
    

    

</body><br>


<%- include( "../partials/footer.ejs") %>