<%- include( "../partials/head.ejs") %>
<link rel="stylesheet" href= "/stylesheets/login.css">
</head>

<%- include( "../partials/header.ejs") %>

<body>

    <main class="credenciales">

        <div class="form">

            <form  class="formPost" action= "/users/login/perfil" method="POST">

                <div class="formUser">

                    <input type="text" size = "15" maxlength="30" name="user" placeholder="Nombre de usuario">

                </div>

                <div class="formPassword">                    

                    <input type="password" id="password" name="password" placeholder="Elegí tu contraseña">

                </div>

                <div class="formEnviar">
                    
                    <input class= "enviarForm" type="submit" value="Envíar">

                </div>


            </form>

        </div>

    </main>
    
</body>


<%- include( "../partials/footer.ejs") %>