<%- include( "../partials/head.ejs") %>

<%- include( "../partials/header.ejs") %>

<body>
    <h1>Registrarse</h1>

    <form action= "/register" method="POST">
    
        <label for = "email">Email</label>
        <input type="email" size = "15" maxlength="30" name="email">

        <p><label for = "password"></label>Elegí tu contraseña</p>
        <p><input type="password" id="password" name="password"></p>

        <input type="submit" value="Registrar">

    </form>
</body>


<%- include( "../partials/footer.ejs") %>